body {
  margin: 0%;
}
h1,
h2,
h3 {
  font-family: Tahoma, verdana, sans-serif;
  color: #741009;
  text-transform: uppercase;
  font-size: 32px;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}
h1,
h3 {
  background-color: #dddddd;
}
h2 {
  background-color: #707070;
}
h1 {
  display: inline-block;
}
.name-price {
  font-family: Georgia, Times, serif;
  color: #0a3641;
  font-size: 18px;
  margin: 0 auto;
}
.saleprice {
  font-family: Georgia, Times, serif;
  color: #741009;
  font-size: 8px;
  padding: 5px;
  margin: 0 auto;
}
nav li {
  display: inline-block;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}
nav ul {
  padding: 10px;
  display: block;
  background-color: #cb9a21;
}
nav {
  background-color: #cb9a21;
}

.active {
  color: #ad422c;
}
footer {
  display: inline;
  background-color: #cb9a21;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

div a {
  background-color: #cb9a21;
  margin: 10px auto;
}

img {
  max-width: 300px;
  margin: 0 auto;
}

.form__input {
  display: inline-block;
}

nav,
#hamburger-menu {
  display: none;
}
.hamburger-label {
  float: right;
  color: #000000;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

@media (min-width: 600px) {
  .logo {
    float: left;
  }
  nav {
    display: inline;
  }
  .hamburger-label {
    display: none;
  }
  ul {
    display: flex;
  }
  li {
    display: inline-block;
  }
  nav a {
    padding: 19% 40px;
  }
}
