body {
  background-color: rgb(221, 221, 221);
}

h1,
h2,
h3 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #741009;
  text-transform: uppercase;
}

nav li {
  display: inline-block;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}
nav ul {
  padding: 0px;
}

.active {
  color: #ad422c;
}
