body {
  background-color: rgb(221, 221, 221);
}

h1,
h2,
h3 {
  font-family: Tahoma, verdana, sans-serif;
  color: #741009;
  text-transform: uppercase;
  font-size: 32px;
}

nav li {
  display: inline-block;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
}
nav ul {
  padding: 0px;
}

.active {
  color: #ad422c;
}
footer {
  display: inline;
  background-color: #cb9a21;
}

img {
  max-width: 300px;
}
header {
  background-image: url(images/rainydayslogo02.png),
    url(images/rainydayslogo01.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
